@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Nunito Sans", sans-serif;
}


header {
    box-shadow: 0px 2px 4px 0px #0000000f;
}

.input {
    box-shadow: 0px 2px 9px 0px #0000000d;
}

#region {
    box-shadow: 0px 2px 9px 0px #0000000d;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
    color: #FFF;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}

.flags__wrapper>div {
    box-shadow: 0px 0px 7px 2px #00000008;
}

.flags__wrapper>div:hover {
    scale: 1.02;
    transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.dark-mode {
    background: #202C36 !important;
    color: #ffffff !important;

    header,
    .flags-title,
    h3 {
        background-color: #2B3844 !important;
        color: #fff;
    }

    h1,
    p {
        color: #fff;
    }

    .input,
    input ,
    select,
    option{
        background-color: #2B3844;
        color: white;
    }
}